<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Contact Us</title>
</head>
<body>
    <section id="show-content">
        <div class="top">
            {{>header}}

            {{helpText}}
        </div>

        <div class="middle contact-block hiddenBlock">
            <div class="text">
                <h1>Have Some Questions ?</h1>
                <h3>Getting in touch is so easy !!!</h3>
                <p>Just Click on given below handles and connect with me...</p>
            </div>
            <div class="social-handles">
                <div class="handle twitter">
                    <a href="https://twitter.com/BisariyaHemlata" target="_blank">
                    <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class=" handle instagram">
                    <a href="https://www.instagram.com/Hemlata_Bisariya/" target="_blank">
                    <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="handle facebook">
                    <a href="https://www.facebook.com/people/Hemlata-Bisariya/100012428556891/" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="bottom">
            {{>footer}}
        </div>
    </section>
</body>
</html>