<header>
    <article id="headerBlock">
        <div class="topBlock">
            <a href="/">
                <img src="/img/logo.png" alt="logo" class="logo">            
            </a>
            <h1 class="title">{{title}}</h1>
        </div>
        <hr class="hrTag" />
        <div class="bottomBlock">
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
        </div>
    </article>
    <hr class="hrTag" />
</header>
