<section id="hiddenSection" hidden>
    <article id="weatherBlock">
        <div class="leftWeatherBlock">
            <div class="locationBlock">
                <h1 class="name"></h1>
                <div class="count-reg">
                    <h5 class="region"></h5>
                    <hr class="hrTag-right" /> 
                    <h5 class="country"></h5>
                </div>
            </div>
            <div class="tempBlock">
                <div class="weatherIcon">
                    <img class="weather-icon" alt="weather icon" />
                </div>
                <div class="tempDetail">
                    <h1 class="temperature"></h1>
                    <p>Temperature</p>
                </div>
            </div>
            <h1 class="weatherDescription"></h1>  
        </div>

        <hr class="hrTag-right"/>

        <div class="rightWeatherBlock">
            <div class="extraDetail">
                <div class="terms">
                    <div class="icon"><i class="far fa-humidity"></i></div>
                    <p class="termsName">Humidity</p>
                </div>
                <h1 class="value humidity"></h1>
            </div>
            <div class="extraDetail">
                <div class="terms">
                    <div class="icon"><i class="fas fa-temperature-hot"></i></div>
                    <p class="termsName">Feels Like</p>
                </div>
                <h1 class="value feelslike"></h1>
            </div>
            <div class="extraDetail">
                <div class="terms">
                    <div class="icon"><i class="fas fa-clouds-sun"></i></div>
                    <p class="termsName">UV Index</p>
                </div>                
                <h1 class="value uvIndex"></h1>
            </div>
            <div class="extraDetail">
                <div class="terms">
                    <div class="icon"><i class="fas fa-eye"></i></div>
                    <p class="termsName">Visibility</p>
                </div>
                <h1 class="value visibility"></h1>
            </div>
            <div class="extraDetail">
                <div class="terms">
                    <div class="icon"><i class="fas fa-wind"></i></div>
                    <p class="termsName">Wind Speed</p>
                </div>
                <h1 class="value windSpeed"></h1>
            </div>
            <div class="extraDetail">
                <div class="terms">
                    <div class="icon"><i class="fal fa-tachometer-alt"></i></div>
                    <p class="termsName">Pressure</p>
                </div>
                <h1 class="value pressure"></h1>
            </div>
        </div>
    </article>
</section>